/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2017, 10:42:46 AM
    Author     : Janine
*/

/* PHOTOS */
#abt-pic{
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
}

/* TEXT */
#who-text{
    align-self: center;
}

#love-ux{
    width: 85vw;
    align-self: center;
}

.flex-main-item.info-group{
    padding: 0;
    margin: 0;
    width: 85vw;
    align-self: center;
}

.flex-main-item #day-text{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

    #plan, #work, #relax{
         padding: 0% 5% 5% 1%;
    }
