/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 3:44:11 PM
    Author     : Janine
*/
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

html, body{
    height: 100%;
}

/*Navigation*/
ul{
    list-style-type: none;
}
    li{
        display: inline;
        text-decoration: none;
    }

        li a{
            display: inline-block;
        }

/* TEXT */        
.titles{
    font-family: Century Gothic;
    font-weight: bold;
    letter-spacing: 15px;
}

.general-text{
    font-family: 'PT Serif';
}

.social-icons a img{
    display: inline;
}