/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Apr-2017, 5:28:40 AM
    Author     : JV
*/

/*********************
    Media Queries
*********************/   

    @media only screen and (min-width: 481px){/* styles for browsers larger than 481px;(larger than phone)*/
        /*********************** 
                 WELCOME 
        ************************/
        .titles#main{
           font-size: 10vh;
        }
        
        .general-text#aspiration{
            font-size: 3.5vh;
        }
        
        .social-icons a img{
            margin-left: 2%;
            margin-bottom: 1%;
        }
        
        /*********************** 
                 ABOUT 
        ************************/
        
        #who-text .general-text{
            font-size: small;
        }
    }
    
    @media only screen and (min-width: 768px){/* styles for browsers larger than 768px;(Ipad)*/
        /*********************** 
                  COMMON 
        ************************/
        .titles{
        letter-spacing: 15px;
        }
    }
    
    @media only screen and (min-width:960px){/*styles for browsers larger than 960px;*/   
        /*********************** 
                 WELCOME 
        ************************/
        .titles#main{
            font-size: 10.5vh;
        }
        
        /*********************** 
                OVERLAY
        ************************/
        .titles.overlay{
            font-size: 2.5vh;
        }
        
        /*********************** 
                 ABOUT
        ************************/
        #who-text{
            width: 50vw;
        }
        
    }
    
    @media only screen and (min-width:1080px){/* styles for browsers larger than 1080px; */
    }
    
    @media only screen and (min-width: 1024px){/* styles for browsers larger than 1024px; Ipad Pro*/
        #who-text .general-text{
            font-size: medium;
        } 
    }

    @media only screen and (min-width:1400px){/* styles for browsers larger than 1440px; */
    }
    
    @media only screen and (max-device-width:480px){/* styles for mobile browsers smaller than 480px; (iPhone) */
        /*********************** 
                  COMMON 
        ************************/
        .titles{
        letter-spacing: 2px;
        }
        
         /*********************** 
                 WELCOME 
         ************************/
        .titles#main{
           font-size: 10vh;
        }
        
        .general-text#aspiration{
            font-size: 3vh;
        }
        
        .social-icons a img{
            margin-left: 5%;
            margin-bottom: 1%;
        }
    }
    
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }    