/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Apr-2017, 5:28:40 AM
    Author     : JV
*/

/*********************
    Media Queries
*********************/    

    /*
    @media only screen and (min-width:960px){styles for browsers larger than 960px; 
    }
    */
    
    
    @media only screen and (min-width:1080px){/* styles for browsers larger than 1080px; */
        /* NAVIGATION */
        li{
            margin-left: 5%;
        }
        
        /* WELCOME ELEMENTS*/
        
        .intro-container{
            margin-top: 10%;
        }
            .titles{
                font-size: 580%;
            }

            .general-text{
                font-size: 257%;
            }

        .social-icons{
            margin-top: 10%;
        }    
            .social-icons a img{
                margin-left: 2%;
                margin-bottom: 1%;
            }
    }
    
    @media only screen and (min-width: 1260px){/* styles for browsers larger than 1260px; */
        
    }

    @media only screen and (min-width:1400px){/* styles for browsers larger than 1440px; */
        /* WELCOME ELEMENTS */
        .intro-container{
            margin-top: 15%;
        }
            .titles{
                font-size: 700%;
            }

            .general-text{
                font-size: 300%;
            }

        .social-icons{
            margin-top: 15%;
        }    
            .social-icons a img{
                margin-left: 2%;
                margin-bottom: 1%;
            }
    }
    
    @media only screen and (min-width:2000px){/* for sumo sized (mac) screens */
        
    }
    
    @media only screen and (max-device-width:480px){/* styles for mobile browsers smaller than 480px; (iPhone) */

    }
    
    @media only screen and (device-width:768px){/* default iPad screens */
        

    }
    
    
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }    