/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 9:21:22 PM
    Author     : Janine
*/

#welcome-bg{
    height:100vh;
    width:100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
    background: url(../images/WatercolorBG.png) no-repeat center center fixed;
}

#cover{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.flex-item{
    width: 100vw;
}

